/***font***/

@font-face {
    font-family: Pt_sherif;
    src: url('../tipo/webfontkit-Pt_sherif/pt_serif-web-regular-webfont.woff2') format('woff2'),
         url('../tipo/webfontkit-Pt_sherif/pt_serif-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pt_sherif_bold;
    src: url('../tipo/webfontkit-Pt_sherif/pt_serif-web-bold-webfont.woff2') format('woff2'),
         url('../tipo/webfontkit-Pt_sherif/pt_serif-web-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Muli;
    src: url('../tipo/webfontkit_muli/muli-regular-webfont.woff2') format('woff2'),
         url('../tipo/webfontkit_muli/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Muli-bold;
    src: url('../tipo/webfontkit_muli/muli-bold-webfont.woff2') format('woff2'),
         url('../tipo/webfontkit_muli/muli-bold-webfont.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*** TEMPLATE STYLES ***/

/*
Noir : #000000 
Bleu : #001AA1
*/


/* en tête de la page*/
body {
  background-color: white;
}

.img_logo img {
	height: 5rem;
	width: 5rem;
}

.tmp-menu {
	font-size : 3rem;
	background-color: #001AA1;
    display: flex;
    width: 100vw;
    flex-direction: row;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001AA1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #00B4FF;
  }

 
